<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Multi Browser" parallel="none">

<!--    <test name="Firefox Driver">-->
<!--        <parameter name="browser" value="FIREFOX"/>-->
<!--        <classes>-->
<!--            <class name="stepDefinitions.UserRegistration"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
